span{
    color: rgb(93, 36, 147);
}
.e1h1{
    border:5px rgb(117, 117, 199) ;
    border-radius: 10px;
    padding: 25px;
    margin: 4px 10px;
    background-color: bisque;
}

.e1s{
    border: medium dotted;color: darkcyan;
    padding: 10px 20px 30px;
    margin: 0px;
    background-color: blanchedalmond;
    background-image: -o-linear-gradient(red yellow);
}
body{
    margin: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    
}
 #e2h2{
    background-color: aquamarine;
    width: 50%;
    margin:auto ;
 }

 div{
    background-color: brown;
 }
 